.header {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  /* margin-bottom: 1rem; */
  padding: 1rem 0
}

.actions {
  display: flex;
  gap: 1rem;
}

.container{
  display: grid;

}

.image{
  display:inline-block;
  background-color: #fff;
}

.item {}