.container {
  display: "flex";
  gap:"1rem";
  flex-direction: column;
  /* height: 100px; */
}

.topFiles{
  max-height: 25vh;
  height: 208px;
  overflow-y: scroll;
  padding: 1rem;
  border-radius: 1rem;
}

.bottomFiles {
  max-height: 50vh;
  height: 50vh;
  overflow:hidden;
  /* background-color: var(--background0); */
  padding: 1rem;
  border-radius: 1rem;
}