.navbar  {
  /* overflow-x: hidden;
  overflow-y: scroll; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 0; */
  /* padding: 0; */
}

.logo {
  max-height:55%;
}

.search {
  flex-grow: 0.5;
  /* margin: 0 20%; */
}

.actions{
  margin: 0 2rem;
}

.content {
  position: relative;
  background-color: var(--background1) !important;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}