.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  align-content: center;
  gap: 0.5rem;
}

.search {
  margin-bottom: 0.5rem ;
}

.item{
  margin: 0.25rem 0;
  border-radius: 0.125rem;
  border-bottom: none !important;
  padding: 0.5rem;
  position: relative;
}

.item:hover{
  background-color: var(--background1);
}

.item:active{
  background-color: var(--background2);
}

.item::after {
  content: '';
  position: absolute;
  bottom: -0.1875rem;
  height: 0;
  left: 0;
  width: 100%;
  border-bottom: 0.0625rem solid var(--background2);
}

.item:last-of-type::after{
  border-bottom: none;
}

.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 0.5rem;
}