@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 0 0% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html,
body {
  @apply preload  text-stone-950  dark:text-stone-200; /*dark:bg-stone-950 bg-gray-200*/
  scrollbar-width: thin;
  scrollbar-color: #a8a29e #e5e7eb;
}

body,
.dark body {
  overflow-y: scroll;
}

html.dark,
.dark body {
  scrollbar-width: thin;
  scrollbar-color: #44403c #0c0a09;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* ::-webkit-scrollbar:hover {
  width: auto;
  height: auto;
} */

body::-webkit-scrollbar {
  background-color: #e5e7eb;
}

.dark body::-webkit-scrollbar {
  background-color: #0c0a09;
}

::-webkit-scrollbar-thumb {
  background-color: #a8a29e;
  border-radius: 9999px;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #44403c;
  background: #e7e5e4;
}

/* @layer components {
  .button-group > * {
    @apply border-b
    border-l
    border-r-0
    border-t
    border-solid
    border-stone-400
    first:rounded-l-md
    last:rounded-r-md
    last:border-r
    dark:border-stone-600;
  }
} */

/* react-calendar styles */

.react-calendar {
  width: 350px;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: rgba(0, 0, 0, 0.2);
}

.dark .react-calendar__navigation button:disabled {
  background-color: rgba(255, 255, 255, 0.2);
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.dark .react-calendar__navigation button:enabled:hover,
.dark .react-calendar__navigation button:enabled:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none !important;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #b91c1c;
}

.dark .react-calendar__month-view__days__day--weekend {
  color: #ef4444;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 1em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  transition: all 50ms;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.dark .react-calendar__tile:disabled {
  background-color: rgba(255, 255, 255, 0.4);
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.dark .react-calendar__tile:enabled:hover,
.dark .react-calendar__tile:enabled:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.react-calendar__tile--now {
  background: #ffff76;
}
.dark .react-calendar__tile--now {
  background: #a16207;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: rgba(0, 0, 0, 0.2);
}

.dark .react-calendar__tile--now:enabled:hover,
.dark .react-calendar__tile--now:enabled:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.dark .react-calendar--selectRange .react-calendar__tile--hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.dark .react-calendar__tile--active:enabled:hover,
.dark .react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltip-text {
  visibility: hidden;
  text-align: center;
  padding: 5px 8px;
  border-radius: 6px;
  position: absolute;
  z-index: 100;
  white-space: nowrap;
  word-break: keep-all;
  transition:
    opacity 150ms ease-in-out 400ms,
    visibility 0ms 400ms;
  opacity: 0;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltip-text-right {
  top: -5px;
  left: 105%;
}

.tooltip .tooltip-text-left {
  top: -5px;
  right: 105%;
}

.tooltip .tooltip-text-top-start {
  bottom: 100%;
  left: 0;
}
.tooltip .tooltip-text-top-center {
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}

.tooltip .tooltip-text-top-end {
  bottom: 100%;
  right: 0;
}

.tooltip .tooltip-text-bottom-start {
  top: 100%;
  left: 0;
}

.tooltip .tooltip-text-bottom-center {
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}

.tooltip .tooltip-text-bottom-end {
  top: 100%;
  right: 0;
}

.editor > h1 {
  font-size: 2em;
  font-weight: bold;
}

.editor > h2 {
  font-size: 1.75em;
  font-weight: bold;
}

.editor > h3 {
  font-size: 1.5em;
  font-weight: bold;
}

.editor > h4 {
  font-size: 1.2em;
  font-weight: bold;
}

.editor > h5 {
  font-size: 1em;
  font-weight: bold;
}

.editor > h6 {
  font-style: italic;
  font-weight: bold;
}

.plain-html a,
.plain-html a:visited,
.plain-html a:link {
  text-decoration: none;
  color: #4dabf7;
}

.plain-html a:hover {
  text-decoration: underline;
}
