

.container{
  width: 100%;
  display: flex;
  max-height: 100%;
  /* background-color: #000; */
  border-radius: 1rem;
  /* overflow: hidden; */
  /* flex-wrap: wrap; */
}

.list{
  display: flex;
  flex-direction: column;
  margin: 1rem;
  /* overflow: hidden; */
  /* overflow-y: scroll; */
  /* height: 100%; */
}

.details{
   /* display: flex; */
  /*flex-shrink: 1;
  flex-grow: 0; */
  /* overflow: hidden; */
}
