/* @import "antd/dist/antd.dark.css"; */
/* @import "index.css"; */
:root {
  --background0: #000;
  --background1: #1f1f1f;
  --background2: #333;
  --gray: #666;
  --font: #fff;
  --primary: #177ddc;
}
